<div class="Vehiculos-listado">
    <h2>Estadisticas</h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-grid-list cols="2" *ngIf="!loading">
        <mat-grid-tile>
            <mat-card class="ralenti-tabla">
              <mat-card-header>
                <mat-card-title><h2>Tiempo en Ralenti</h2></mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <canvas id="ralentiChart">
                        {{charts.ralenti_this_month}}
                </canvas>
                <canvas id="ralentiChart2">
                        {{charts.ralenti_last_month}}
                </canvas>
              </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>