<div class="Vehiculos-listado">
    <h2>Estadisticas</h2>
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="Dashboard-container" *ngIf="!loading">
        <mat-card class="ralenti-tabla">
          <mat-card-header>
            <mat-card-title><h2>Tiempo en Ralenti</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas id="ralentiChart">
                    {{charts.ralenti_this_month}}
            </canvas>
            <canvas id="ralentiChart2">
                    {{charts.ralenti_last_month}}
            </canvas>
          </mat-card-content>
        </mat-card>
    
        <mat-card class="ralenti-tabla">
          <mat-card-header>
            <mat-card-title><h2>Kilometros Por Litro</h2></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <canvas id="consumoChart">
                    {{charts.consumo}}
            </canvas>
          </mat-card-content>
        </mat-card>
    </div>
</div>